*,body {
  margin: 0px;
  padding: 0px;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  box-shadow: inset 0px 0px 30px #444;
  background-color: #444;
}

.wrapper {
  background: #fff url(https://www.upyun.com/images/upyun_logo.png) no-repeat center 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  box-shadow: 0px 0px 5px #000;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  padding-top: 60px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

h2 span {
  color: #999;
  float: right;
  font-weight: normal;
}

.submit {
  border: 1px solid #3498DB;
  background-color: #3498DB;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 0px 0px 10px #ddd;
}
